<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button [routerLink]="['/admin/category']">
    Categoria
  </ion-button><br>
  <ion-button [routerLink]="['/admin/location']">
    Localização
  </ion-button><br>
  <ion-button [routerLink]="['/admin/puzzle']">
    Puzzle
  </ion-button><br>
  <ion-button [routerLink]="['/admin/question']">
    Question
  </ion-button><br>
</ion-content>
