<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meus Desafios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item *ngFor="let item of puzzles">
      <ion-row >
        <ion-col size="6">
          <ion-text color="primary">
            <h1>{{ item.puzzle }}</h1>
            <br />
            <ion-label class="ion-text-end">20%</ion-label>
            <ion-progress-bar value="0.2"></ion-progress-bar>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-card position="end">
            <ion-card-header>
              <ion-card-subtitle>Quiz</ion-card-subtitle>
              <ion-card-title>...</ion-card-title>
            </ion-card-header>
            <ion-button expand="block" shape="round" href='members/quiz/{{item.puzzle}}'>
              Descobri
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item>
    <br>
    <br>
  
  <ion-text class="ion-text-center" color="primary">
      <h1>Protótipos</h1>
    </ion-text>
    <ion-button expand="block" routerLink="/sample-ar-js">Realidade Aumentada</ion-button>
  
</ion-content>
